@using Mobile_Deura.Const
@{
    var model = (List<User>) Model;
}
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Fullname</th>
                <th>Mã nhân viên</th>
                <th>Email</th>
                <th>Source</th>
                <th>Loại TK</th>
                <th>Mã Team</th>
               
                <th @Html.Raw(ViewBag.TypeAccount==1 ? "style='display:none'" : "")>Tùy chọn</th>
            </tr>
        </thead>
        <tbody>

            @if (model != null)
            {
                foreach (var item in model)
                {
                    <tr>
                        <td>@(item.Id)</td>
                        <td>
                            @(item.UserName)
                        </td>
                        <td>
                            @(item.FullName)
                        </td>
                        <td>
                            @(item.agent)
                        </td>
                        <td>
                            @(item.Email)
                        </td>
                        <td>
                            @(item.source)
                        </td>
                        <td>
                            @if (item.LoaiTK == 1)
                            {
                                @Html.Raw("<span style='color:red'>Team Lead</span>");
                            }
                            else if (item.LoaiTK == 2)
                            {
                                @Html.Raw("Nhân viên");
                            }
                            else if (item.LoaiTK == 3)
                            {
                                @Html.Raw("<span style='color:blue'>Nhân viên BC  </span>");
                                if (ViewBag.center != null)
                                {
                                    foreach (var i in ViewBag.center)
                                    {
                                        if (item.idCenter == i.id)
                                        {
                                            @Html.Raw("- " + i.name);
                                            break;
                                        }
                                    }
                                }
                            }

                            else if (item.LoaiTK == 100)
                            {
                                @Html.Raw("<span style='color:blue'>Quản lý</span>");
                            }
                            else if (item.LoaiTK == 4)
                            {
                                @Html.Raw("<span style='color:blue'>Nhân viên import</span>");
                            }

                        </td>
                        <td>
                            @(item.TeamName)
                        </td>

                        <td @Html.Raw(ViewBag.TypeAccount == 1 ? "style='display:none'" : "")>

                            <button type="button" class="fa fa-edit" data-id="@item.Id" onclick="ButtonEditClick(this)"> </button>
                            <button type="button" class="fa fa-trash-o" data-id="@item.Id" onclick="ButtonDeleteClick(this)"> </button>

                        </td>
                    </tr>
                }
            }



        </tbody>
    </table>
</div>
<script>
    $(function() {
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                //{ extend: 'copy' },
                //{ extend: 'csv' },
                //{ extend: 'excel', title: 'ExampleFile' },
                //{ extend: 'pdf', title: 'ExampleFile' },
                {
                   // extend: 'print',
                    customize: function(win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ]

        });
    });

    function ButtonDeleteClick(self) {
        var id = $(self).attr("data-id");
            BootstrapDialog.confirm({
                title: 'CHÚ Ý',
                message: '@SystemMessageConst.systemmessage.ConfirmAfterDelete',
                type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                closable: true, // <-- Default value is false
                draggable: true, // <-- Default value is false
                btnCancelLabel: 'CANCEL', // <-- Default value is 'Cancel',
                btnOKLabel: 'OK', // <-- Default value is 'OK',
                btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
                callback: function (result) {
                    // result will be true if button was click, while it will be false if users close the dialog directly.
                    if (result) {
                        ActionDelete(id);
                    }
                }
            });
    };

    function ButtonEditClick(self) {
        var id = $(self).attr("data-id");
        LoadPartialView('/Admin/ManagerAccount/EditAccount?id=' + id, $("#content-container"));
    }
    function ActionDelete(id) {

        $.ajax({
            type: "GET",
            url: "/ManagerAccount/DeleteAccount",
            data: { id: id },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                BootstrapDialog.alert(
                    {
                        title: 'THÔNG BÁO',
                        type: BootstrapDialog.TYPE_SUCCESS,
                        message: data.result.Message,
                        callback: function() {
                            LoadPartialView('@Url.Action("_ListAccount")', $("#content-container"));
                        }
                    }
                );
            },
            complete: function () {
                $("#loadding-wraper").css("display", "none");
            },
            beforeSend: function () {
                $("#loadding-wraper").css("display", "block");
            },
            failure: function () {
                alert("fail");
            }
        });
    };
</script>
