@using Mobile_Deura.Const
@{
    var model = (List<ViewModelCampaign>)Model;
}

<link href="~/Content/css/animate.css" rel="stylesheet" />
<link href="~/Content/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
<div class="table-responsive">

    <table class="table table-striped table-bordered table-hover dataTables-example">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tên Campaign</th>
                <th>Loại</th>
                <th>Domain</th>
                <th>Bắt đầu</th>
                <th>Kết thúc</th>

                <th>Trạng thái</th>
                <th>Số lượng contact</th>
                <th @Html.Raw(ViewBag.TypeAccount == 1 ? "style='display:none'" : "")>Tùy chọn</th>

            </tr>
        </thead>
        <tbody>

        @foreach (var item in model)
        {
            <tr>
                <td>@(item.Id)</td>
                <td>
                    @(item.Name)
                </td>
                <td>
                    @(item.TypeCode)
                </td>
                <td>
                    @(item.Domain)
                </td>
                <td>
                    @(item.StartTime)
                </td>
                <td>
                    @(item.EndTime)
                </td>
                <td>

                    @if (Convert.ToInt16(item.isActive) == 0)
                    {
                        @Html.Raw("<span style='color:red'>Ngừng hoạt động</span>")
                        ;
                    }
                    else if (Convert.ToInt16(item.isActive) == 1)
                    {
                        @Html.Raw("<span style='color:blue'>Đang hoạt động</span>")
                        ;
                    }

                </td>

                <td>
                    @(item.PgDataCount)
                </td>

                <td @Html.Raw(ViewBag.TypeAccount == 1 ? "style='display:none'" : "")>
                    <div class="tooltip-demo1">

                        @*<button type="button" class="fa fa-plus-square-o" data-id="@item.Id" onclick="ButtonSetting(this)" style="color: red" data-toggle="tooltip" title="Cài đặt cho campaign"> </button>*@
                        <button type="button" class="fa fa-edit" data-id="@item.Id" onclick="ButtonEditCampaignClick(this)" data-toggle="tooltip" title="Sửa thông tin campaign"> </button>

                        @*<button type="button" class="fa fa-eye" data-id="@item.Id" onclick="ButtonViewClick(this)"> </button>*@

                        <button type="button" class="fa fa-toggle-off" data-id="@item.Id" data-key="@item.isActive" onclick="ButtonOnOffClick(this)" data-toggle="tooltip" title="Đóng hoặc mở campaign"> </button>

                    </div>
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>

<style>

    .tooltip-demo button {
        margin-right: 10px;
    }

</style>
<script>


    $(function () {   
        //$('.tooltip-demo').tooltip({
        //    selector: "[data-toggle=tooltip]",
        //    container: "body"
        //});       
        BindAddDate();
    });


    function BindAddDate() {

        $('#txt-campain-startdate').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });

        $('#txt-campain-enddate').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });

    }

    function ButtonEditCampaignClick(self) {

        console.log("edit campape")
        var id = $(self).attr("data-id");

        $("#content-container-add").hide();
        LoadPartialView('/Admin/Campaign/EditCampaign?id=' + id, $("#content-container"));

    }
    
    function ButtonOnOffClick(self) {

        var id = $(self).attr("data-id");
        var isActive = $(self).attr("data-key");
        BootstrapDialog.confirm({
            title: 'CHÚ Ý',
            message: 'Bạn có chắc chắn muốn đổi trạng thái',
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            draggable: true, // <-- Default value is false
            btnCancelLabel: 'CANCEL', // <-- Default value is 'Cancel',
            btnOKLabel: 'OK', // <-- Default value is 'OK',
            btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
            callback: function (result) {
                // result will be true if button was click, while it will be false if users close the dialog directly.
                if (result) {
                    ActionDelete(id, isActive);
                }
            }
        });
    };

    function ActionDelete(id, isActive) {
        
        if (isActive == "True") {
            isActive = 0;
            console.log(" is Active " + isActive);
        } else if(isActive == "False") {
            isActive = 1;
            console.log(" is Active " + isActive);
        }

        
        $.ajax({
            type: "GET",
            url: "/campaign/_OnOffCampaign",
            data: { id: id, _isActive: isActive },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                BootstrapDialog.alert(
                    {
                        title: 'THÔNG BÁO',
                        type: BootstrapDialog.TYPE_SUCCESS,
                        message: data.result,
                        callback: function() {
                            LoadPartialView('@Url.Action("_ListCampaign")', $("#content-container"));
                        }
                    }
                );
            },
            complete: function () {
                $("#loadding-wraper").css("display", "none");
            },
            beforeSend: function () {
                $("#loadding-wraper").css("display", "block");
            },
            failure: function () {
                alert("fail");
            }
        });
    };


    $(function () {

        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                //{ extend: 'copy' },
                //{ extend: 'csv' },
                //{ extend: 'excel', title: 'ExampleFile' },
                //{ extend: 'pdf', title: 'ExampleFile' },
                {
                    // extend: 'print',
                    customize: function(win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ]

        });
    });

    // add button 
    function ButtonSetting(self) {
 
        //var id = $(self).attr("data-id");
        
        //LoadPartialView('/Admin/Campaign/AddOptionCampaign?id=' + id, $("#content-container"));

          
    }

</script>
